<div class="d-flex flex-row bg-secondary">
  <div class="p-2 bg-info">Contact Details</div>
  <div class="p-2 bg-warning">This is a basic table with only few fields</div>

</div>
<table class="table table-striped table-hover" >
<thead>
  <tr>

    <th scope="col">Status</th>
    <th scope="col">Name</th>
    <th scope="col">Company</th>
    <th scope="col">Email</th>
    <th scope="col">Vendor Name</th>
    <th scope="col">Type</th>  
    <th scope="col">Mobile</th>
    <th scope="col">GST Number</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let item of data | keyvalue ">
  
    <th scope="row" *ngIf="item.value.status=='active'">
        <i class="fa fa-check-square"></i></th>
        <th scope="row" *ngIf="item.value.status!='active'">
            <i class="fa fa-times-square"></i></th>
    <td>{{item.value.first_name}} {{item.value.last_name}}</td>
    <td>{{item.value.company_name}}</td>
    <td>{{item.value.email}}</td>
    <td>{{item.value.vendor_name}}</td>
    
    <td>{{item.value.contact_type}}</td>
    <td>{{item.value.phone}}</td>
    <td>{{item.value.mobile}}</td>
  </tr>
  
</tbody>
</table>
